<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
    </head>

    <body>
        <form>
            <p id="status">NAO LOGADO</p>
            <label for="email">Email:</label>
            <input type="text" id="in_email" name="in_email">
            <label for="in_senha">Senha</label>
            <input type="text" id="in_senha" name="in_senha">
            <button id="botao" type="button">LOGIN</button>
        </form>
    </body>

    <footer></footer>
</html>

<script>
    let userId = localStorage.getItem('userId');
    console.log(userId);

    const email = document.getElementById('in_email');
    const senha = document.getElementById('in_senha');
    const botao = document.getElementById('botao');

    function test(event){
        event.preventDefault();
        if(userId == -1 || isNaN(userId))
        {
            const url = '/usuario?email='+email.value+'&senha='+senha.value;
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if(!response.ok){
                    alert('Erro ao pegar usuario');
                    throw new Error('Erro ao pegar usuario');
                }
                return response.json();
            })
            .then(data => {
                console.log('usuario id = ' + data.id);
                localStorage.setItem('userId', data.id);
                userId = localStorage.getItem('userId');
                console.log('ID encontrado e setado');
                check_status();
            })
            .catch(error => {
                console.error('Error fetching user ID:', error);
            });
        }
        else
        {
            userId = -1;
            localStorage.setItem('userId', -1);
            check_status();
        }
    }

    function test2(){
        event.preventDefault();
        if(userId == -1 || isNaN(userId))
        {
            const data = {
                email: email.value,
                senha: senha.value
            };
    
            fetch('/usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if(!response.ok){
                    alert('error ao criar usuario');
                    throw new Error('criacao usuario');
                }
    
                return response.json();
            })
            .then(data => {
                localStorage.setItem('userId', data.id);
                userId = localStorage.getItem('userId');
                check_status();
            })
            .catch(error => {
                console.error(error);
            })
        }
        else
        {
            userId = -1;
            localStorage.setItem('userId', -1);
            check_status();
        }
    }

    function check_status(){
        if(userId == -1 || isNaN(userId))
        {
            document.getElementById('status').innerText = 'NAO LOGADO';
            botao.innerText = 'LOGIN';
        }
        else
        {
            document.getElementById('status').innerText = 'LOGADO';
            botao.innerText = 'LOGOUT';
        }
    }

    botao.addEventListener('click', test2);
    check_status();
</script>